# Builds
/bin
/dist
/resources/dist

# Neutralinojs related files
neutralino.js
.storage
*.log
.tmp/
*.tmp
.lite_workspace.lua
.env

# Node modules
/node_modules

# TypeScript converted files
resources/javascript/greenhouse.js
resources/javascript/test.js