* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

body {
	display: flex;
	flex-direction: row;
	height: 100dvh;
	background-color: white;
}

#sidebar {
	display: flex;
	flex-direction: column;
	max-width: 40px;
	height: 100%;
	overflow: hidden;
	background-color: pink;
	transition: max-width 1s ease-in-out;
	padding: 4px 4px 4px 0;
}

#sidebar:hover {
	max-width: 1000px;
}

#sidebar > button {
	display: flex;
	flex-direction: row;
	align-items: center;
	height: 40px;
	width: max-content;
	cursor: pointer;
	color: black;
	border: 0;
	border-radius: 0;
	background-color: transparent;
}

#sidebar div {
	font-size: 3vw;
	cursor: pointer;
}
