* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

body {
	display: flex;
	flex-direction: row;
	height: 100dvh;
	background-color: white;
}

#main {
	flex: 1;
	height: 100dvh;
	padding: 20px;
	overflow-y: scroll;
}

/* --- SIDEBAR --- */

#sidebar {
	display: flex;
	flex-direction: column;
	max-width: 40px;
	height: 100%;
	overflow: hidden;
	background-color: pink;
	transition: max-width 1s ease-in-out;
	padding: 4px 4px 4px 0;
}

#sidebar:hover {
	max-width: 1000px;
}

#sidebar > button {
	display: flex;
	flex-direction: row;
	align-items: center;
	height: 8vh;
	width: max-content;
	cursor: pointer;
	color: black;
	border: 0;
	border-radius: 0;
	background-color: transparent;
}

#sidebar > button > div {
	font-size: 4vh;
	margin-left: 1vh;
}

#sidebar div {
	font-size: 3vw;
	cursor: pointer;
}

/* --- SETTINGS PAGE --- */

.oneLineSettings {
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: start;
	text-align: center;
	gap: 10px;
}

/* --- ITEM TRACKER --- */

#addItemModal {
	position: fixed;
	inset: 0;
	background: rgba(0, 0, 0, 0.80);
	display: none;
	justify-content: center;
	align-items: center;
}

#addItemModalContent {
	background: white;
	padding: 20px;
	border-radius: 6px;
	width: 400px;
	display: flex;
	flex-direction: column;
	gap: 10px;
}
