* {
    box-sizing: border-box;
    margin: 0;
    padding: 0  ;
}

body {
    background-color: white;
    display: flex;
    flex-direction: row;
}

#sidebar {
    display: flex;
    flex-direction: column;
    width: 10vw;
    height: 100dvh;
    transition: all 0.25s ease-in-out;
    background-color: pink;
}

#sidebar:hover {
    width: 20vw;
}